__pycache__/Debug.cpython-310.pyc
WinPython Command Prompt.exe - Shortcut.lnk
test/
testing/
__pycache__
*-CLOSEOUT*/
monkeytype.sqlite3
bearer.txt
build/*
*.spec
dist/*
PlumbingFixtures/WinPython*
~*
*.xlsx
PlumbingFixturesForROIS/WinPython/*
*build*
*dist*
!build.bat
